@mixin link($hover-color) {
  text-decoration: none;
  color: inherit;
  transition: 0.7s all ease;
  &:hover {
    color: $hover-color;
  }
}

.footer {
  height: var(--footer-height);
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  a {
    @include link(var(--text));
    border-bottom: 1px solid var(--text-secondary);
  }

  &-text {
    color: var(--text-secondary);
    font-size: 12px;
    line-height: 20px;

    @media (max-width: 768px) {
      font-size: 9px;
    }
  }
}

.cncf-logo {
  max-width: 200px;
  object-fit: contain;

  @media (max-width: 900px) {
    max-width: 130px;
  }
}
