.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--nav-height);

  .links {
    display: flex;
    a {
      color: var(--link);
      line-height: 60px;
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
    .external-link {
      display: flex;
      align-items: center;
      i {
        margin-left: 4px;
        font-size: 10px;
      }
    }
    .active {
      color: var(--text);
      position: relative;
      &:after {
        content: "";
        height: 2px;
        background-color: var(--text);
        bottom: 18px;
        left: 1px;
        right: 1px;
        position: absolute;
      }
    }
  }
}
