:root {
  --background-light: rgb(245, 245, 245);
  --background-secondary-light: rgba(255, 255, 255, 0.5);
  --background-dark: rgb(30, 30, 30);
  --background-secondary-dark: rgba(255, 255, 255, 0.033);

  --text-light: rgb(30, 30, 30);
  --text-dark: rgb(245, 245, 245);

  --text-secondary-light: rgb(108, 108, 108);
  --text-secondary-dark: rgb(148, 148, 148);

  --button-light: rgb(214, 214, 214);
  --button-dark: rgb(64, 64, 64);
}
