@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text);
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen,
    Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.button {
  all: unset;
  padding: 6px 14px;
  background-color: var(--button);
  font-size: 18px;
  border-radius: 8px;
  margin: 5px;
  line-height: 28px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(80%);
  }
}
