.light_mode {
  --background: var(--background-light);
  --background-secondary: var(--background-secondary-light);
  --text: var(--text-light);
  --text-secondary: var(--text-secondary-light);
  --button: var(--button-light);
}

.dark_mode {
  --background: var(--background-dark);
  --background-secondary: var(--background-secondary-dark);
  --text: var(--text-dark);
  --text-secondary: var(--text-secondary-dark);
  --button: var(--button-dark);
}
