.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .logo svg {
    max-width: 400px;
    margin-bottom: 40px;
    path {
      fill: var(--text);
    }
  }

  p {
    max-width: 73%;
    margin: auto;
  }

  .actions {
    margin-top: 40px;
  }
}

@media (max-width: 900px) {
  .home {
    justify-content: flex-start;
    .logo svg {
      max-width: 200px;
      margin-top: 100px;
    }
    p {
      max-width: 100%;
    }
  }
}
