.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .logo svg {
    max-width: 400px;
    margin-bottom: 40px;
  }

  p {
    max-width: 73%;
    margin: auto;
  }

  .sign-up {
    font-weight: bold;
    margin-top: 40px;
    font-size: 18px;
    i {
      font-size: 12px;
      bottom: 1px;
      position: relative;
    }
    a {
      text-decoration: none;
      color: inherit;
      margin: 0 5px;
    }
  }

  .actions {
    margin-top: 40px;
  }
}
