name: pr-checks

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
  merge_group:

jobs:
  build-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: recursive

      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Enable Corepack
        run: corepack enable

      - name: Lint
        run: make lint

      - name: Build
        run: make build

      - name: Test
        run: make test
