name: pr-checks

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  build-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-node@v3

      - name: Lint
        run: make lint

      - name: Build
        run: make build
      
      - name: Test
        run: make test
